@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    /* box-sizing: border-box; */
    margin: 0;
    padding : 0;
    /* font-family: 'Koulen', cursive; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Fira Sans', sans-serif;
    

}

/* html{
    min-height: 100% !important;
    height: 100%;

} */

body{
    background : linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color : rgb(32, 87, 100);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(32, 87, 100); */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


 
/* 
button{
    margin : 20rem 40rem;
    width : 10rem;
    height : 5rem;
    border-radius: 5px 25px;
    background: rgb(25,20,20);
    color : white;
    background: linear-gradient(90deg, rgba(25,20,20,1) 31%, rgba(29,185,84,1) 100%);
} */

